In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [35]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression , Lasso , Ridge 
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score , mean_absolute_error , mean_squared_error

In [36]:
bigmart = pd.read_csv("bigmart_clean_data.csv" )

bigmart.head(2)

,Item_Identifier,Item_Weight,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,Outlet_Age,Item_Visibility_bins,regular,Supermarket Type1,Supermarket Type2,Supermarket Type3,food,non-consumable
0,food,9.30,249.8092,OUT049,1,0,3735.1380,23,1,0,1,0,0,1,0
1,drinks,5.92,48.2692,OUT018,1,2,443.4228,13,1,1,0,1,0,0,0

In [37]:
bigmart.isna().sum()

Item_Identifier         0
Item_Weight             0
Item_MRP                0
Outlet_Identifier       0
Outlet_Size             0
Outlet_Location_Type    0
Item_Outlet_Sales       0
Outlet_Age              0
Item_Visibility_bins    0
regular                 0
Supermarket Type1       0
Supermarket Type2       0
Supermarket Type3       0
food                    0
non-consumable          0
dtype: int64

In [42]:
features_x =  bigmart.drop(["Item_Outlet_Sales" , "Item_Identifier" , "Outlet_Identifier"] , axis=1)
target_y = bigmart["Item_Outlet_Sales"]

In [43]:
train_x,test_x,train_y,test_y = train_test_split(features_x , target_y , test_size=0.3 , random_state=42)
train_x.shape,test_x.shape,train_y.shape,test_y.shape

((9760, 12), (4183, 12), (9760,), (4183,))

# building model

In [40]:
lr = LinearRegression()

In [44]:
lr.fit(train_x , train_y)
lr.score(test_x , test_y)

0.3412855881703898

In [45]:
lr.coef_ , lr.intercept_
#y = summation(lr.coef_ * featrue) + lr.intercept_

(array([-1.06003914e+00,  9.54643095e+00,  2.38384498e+01,  1.72303064e+01,
        -8.98478728e-01,  3.07726341e+01,  2.48253104e+01,  1.19050975e+03,
         9.51873180e+02,  1.98474232e+03,  6.00927411e+01,  1.90212979e+01]),
 -367.2620251174267)

In [48]:

y_pred_sales = lr.predict(features_x)

# calculatin error and fit model with lowest error

In [ ]:
#calculatin RMSE , for this problem it is 1130 
import math
math.sqrt(mean_squared_error(y_pred_sales , test_y))

1078.6659079864753

In [49]:
a = pd.DataFrame({
    "Item_Identifire" : bigmart.Item_Identifier ,
    "Outlet_Identifire" : bigmart.Outlet_Identifier ,
    "Sales_On_Outlets_predicted" : y_pred_sales ,
    "Sales_On_Outlets_actual" : bigmart.Item_Outlet_Sales 
})

In [50]:
a.head()

,Item_Identifire,Outlet_Identifire,Sales_On_Outlets_predicted,Sales_On_Outlets_actual
0,food,OUT049,3292.214450,3735.1380
1,drinks,OUT018,1141.351091,443.4228
2,food,OUT049,2250.682309,2097.2700
3,food,OUT010,1503.168825,732.3800
4,non-consumable,OUT013,1380.773498,994.7052